[user]
	name = {{ .name }}
	email = {{ .email }}
[init]
	defaultbranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[ghq]
	root = ~/Code

[url "ssh://git@github.com/{{ .username }}"]
  insteadOf = https://github.com/{{ .username }}
