#!/bin/sh

# Install p10k fonts

source /tmp/chezmoi-utils.sh

printf "${green}[99 - common] ${reset}"
{{- if or (lt 99 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_P10K_FONTS") }}
echo "Skip installing p10k fonts"
exit 0
{{ else }}
echo "Install p10k fonts"
{{- end }}

set -e

mkdir -p ~/Library/Fonts && cd ~/Library/Fonts

curl -so "MesloLGS NF Regular.ttf" https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf
curl -so "MesloLGS NF Bold.ttf" https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf
curl -so "MesloLGS NF Italic.ttf" https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf
curl -so "MesloLGS NF Bold Italic.ttf" https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf

echo "Fonts for p10k installed!"
